<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://github.com/manavpatel1730" class="me-4 text-reset">
          <i class="fa fa-github-square"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Company name
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-center">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Services
            </h6>
            <p>
              Angular
            </p>
            <p>
              .Net Core Web Api
            </p>
            <p>
              Javascript
            </p>
            <p>
             Typescript
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-center">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              other Services
            </h6>
            <p>
             Html
            </p>
            <p>
             Css
            </p>
            <p>
              Bootstrap
            </p>
            <p>
             Tailwind
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 ml-5">Contact</h6>
            <p><i class="fa fa-home me-3"></i> Surat, Gujarat, India</p>
            <p>
              <i class="fa fa-envelope me-3"></i>
              manav1730@gmail.com
            </p>
            <p><i class="fa fa-phone me-3"></i> +91 9725656017</p>
            <p><i class="fa fa-phone me-3"></i> +91 9725656017</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->  
  
  
  

  
  
  
  
  
  
  <!-- <footer class="sticky-bottom">
            <div class="shape-style">
                <span class="circle-1"></span>
                <span class="circle-2"></span>
                <span class="circle-3"></span>
                <span class="circle-4"></span>
                <span class="circle-5"></span>
                <span class="circle-6"></span>
                <span class="circle-7"></span>
                <span class="circle-8"></span>
            </div>
            <div class="widgets-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="footer-widget">
                                        <div class="logo_footer">
                                            <a href="#"><img src="logo.png" alt=""></a>
                                        </div>
                                        <ul class="footer-info">
                                            <li><i class="fa fa-phone" aria-hidden="true"></i>+44 7403 480 525  </li>
                                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i>info@.com  </li>
                                            <li><i class="fa fa-home" aria-hidden="true"></i>______________________________</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="footer-widget">
                                        <h2>Services</h2>
                                        <ul class="list">
                                            <li><a href="#">digital Marketing</a></li>
                                            <li><a href="#">Web Designing</a></li>
                                            <li><a href="#">Web App Development</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="footer-widget">
                                        <h2>Technologies</h2>
                                        <ul class="list">
                                            <li><a href="#">WordPress Development</a></li>
                                            <li><a href="#">PHP Development</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="footer-widget">
                                        <h2>Industries</h2>
                                        <ul class="list">
                                            <li><a href="#">Transportation & Logistics</a></li>
                                            <li><a href="#">Retail & E-commerce</a></li>
                                            <li><a href="#">Education</a></li>
                                            <li><a href="#">Healthcare</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="inner-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <p>2020 © Copyright <span>MANAV</span> All rights Reserved.</p>
                            </div>
                            <div class="col-lg6-6">
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
 -->
