<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <!-- Container wrapper -->
  <div class="container-fluid">
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="fa fa-bars"></i>
    </button>
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15"
          alt="MDB Logo" loading="lazy" />
      </a>
  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link"routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">contact us</a>
        </li>
      </ul>
      <!-- Left links -->
    
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <!-- <i class="fas fa-shopping-cart"></i>
         --><i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a class="text-reset me-5" href="https://github.com/manavpatel1730">
        <i class="fa fa-github-square" aria-hidden="true"></i>
      </a>
  </div>
  </div>
  </div>
  <!-- Container wrapper -->
</nav>















